* {
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
body {
    background-color: #DFD297;
}
form {
    margin-top: 20px;
    font-size: 40px;
    text-align: center;

}
h5 {
    font-size: 60px;
    text-align: center;
}
input {
    font-size: 20px;
    padding: 10px;
}
